<html>
    <head></head>
    <body>
        <h1>Add a new album</h1>
        <form action="/albums" method="POST">
            <label>title: </label>
            <input type="text" name="title">
            <label>release year: </label>
            <input type="text" name="release_year">
            <label>artist id: </label>
            <input type="text" name="artist_id">
            <input type="submit">
        </form>
    </body>
</html>